body{
    background-image: linear-gradient(to top, rgb(135, 176, 179) 50%, rgba(27, 67, 70, 0.2) 95%);
    display: flex;
    justify-content: center;
}

.titulo{
    font-size: larger;
    color: darkblue;
}